{% extends "includes/loglayout.html" %} {% block body %}
{% load widget_tweaks %}{% if validlink %} {% load crispy_forms_tags %}
<h3>Şifreyi Değiştir</h3>
<form method="post">
    {% csrf_token %}
    <ul style="text-align: left;">
        <li>Parolanız en az 8 karakter içermek zorunda.</li>
        <li>Parolanız genelde kullanılan bir parola olamaz.</li>
        <li>Parolanız tamamıyla sayısal olamaz.</li>
    </ul>
    {% render_field form.new_password1 class="form-control mb-2" placeholder="Yeni Parola" %}
    {% render_field form.new_password2 class="form-control" placeholder="Yeni Parola Onayı" %}
    {% for error in form.new_password2.errors %}
    <p class="error-list">{{error}}</p>
    {% endfor %}

    <button class="btn btn-outline-success btn-block mt-3" type="submit">Şifreyi Değiştir</button>
</form>
{% else %}
<p>
    Bu sıfırlama adresi geçersiz veya daha önce kullanılmış. Lütfen yeni bir sıfırlama talebinde bulunun.
</p>
{% endif %} {% endblock body %}