<h4>Çerez Politikası</h4>
<p>Kişisel verileriniz; veri sorumlusu olarak Spry Software (“Şirket”) tarafından işletilen&nbsp;
    <a href="/">www.meowmeow.com.tr</a>&nbsp;internet sitesini ziyaret edenlerin gizliliğini
    korumak Şirketimizin önde gelen ilkelerindendir. İnternet Sitesi Gizlilik Politikası ile; (1) Veri Sahiplerinin
    kişisel verilerinin
    işlenmesi, (2) Çerez Politikası ve (3) İnternet Sitesi Gizlilik Politikası’nın yürürlüğü hakkında açıklamalar
    yapılmaktadır.
</p>
<p><strong>1. VERİ SAHİPLERİNİN KİŞİSEL VERİLERİNİN İŞLENMESİ</strong><br> İnternet sitemizi ziyaret etmeniz sırasında
    elde edilen kişisel veriler Şirket tarafından 6698 sayılı Kişisel Verilerin Korunması Kanunu uyarınca aşağıda
    açıklanan kapsamda işlenebilecektir.</p>
<p>Kişisel verilerinizin işlenmesine ilişkin detaylı bilgilere&nbsp;
    <a href="/gizlilikpolitikasi">www.meowmeow.com.tr/gizlilikpolitikasi</a>'da yer alan
    Kişisel Verilerinin Korunması ve İşlenmesi Politikası’ndan ulaşabilirsiniz.
</p>
<p><strong>KİŞİSEL VERİLERİNİZİN İŞLENME AMACI</strong><br> İnternet Sitemizi ziyaret etmeniz dolayısıyla elde edilen
    kişisel verileriniz aşağıda sıralanan amaçlarla Şirket tarafından KVK Kanunu’nun 5. ve 6. maddelerine uygun olarak
    işlenebilecektir:
</p>
<ul>
    <li>Şirket tarafından yürütülen faaliyetlerin gerçekleştirilmesi için ilgili iş birimlerimiz tarafından gerekli
        çalışmaların yapılması ve buna bağlı iş süreçlerinin yürütülmesi,</li>
    <li>Şirketin Operasyonel, Ticari ve İş Stratejilerinin Planlanması ve İcrası,</li>
    <li>Şirket tarafından sunulan hizmetlerden ilgili kişileri faydalandırmak için gerekli çalışmaların iş birimlerimiz
        tarafından yapılması ve ilgili iş süreçlerinin yürütülmesi - Şirketin insan kaynakları politikaları ve
        süreçlerinin planlanması ve icra
        edilmesi,
    </li>
    <li>Şirket tarafından program ve hizmetlerinin ilgili kişilerin beğenisine sunulması, önerilmesi ve tanıtılması için
        gerekli olan aktivitelerin planlanması ve icrası</li>
    <li>Şirketin ve Şirketle iş ilişkisi içerisinde olan ilgili kişilerin hukuki, teknik ve ticari-iş güvenliğinin temin
        edilmesi
    </li>
</ul>
<p><strong>KİŞİSEL VERİLERİNİZİN AKTARILDIĞI TARAFLAR VE AKTARIM
        AMACI</strong><br> İnternet sitemizi ziyaret etmeniz dolayısıyla elde edilen kişisel verileriniz, kişisel
    verilerinizin işlenme amaçları doğrultusunda, iş ortaklarımıza, tedarikçilerimize kanunen yetkili kamu kurumlarına
    ve özel kişilere KVK Kanunu’nun
    8. ve 9. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları dahilinde aktarılabilecektir.
</p>
<p><strong>KİŞİSEL VERİLERİNİZİN TOPLANMA YÖNTEMİ VE HUKUKİ SEBEBİ</strong><br> Kimliğinizi belirli ya da belirlenebilir
    kılan her türlü bilgi “kişisel veri”dir. İnternet sitemizi ziyaretiniz kapsamında kişisel verileriniz Kanun’da yer
    alan veri işleme şartlarına
    uygun olarak İnternet Sitemizi ziyaret etmeniz dolayısıyla teknik iletişim dosyaları olan çerezler (cookies)
    vasıtasıyla toplanmaktadır.
</p>
<p><strong>VERİ SAHİPLERİNİN HAKLARI</strong><br> Kişisel veri sahibi olarak Kanun’un 11. maddesi uyarınca aşağıdaki
    haklara sahip olduğunuzu bildiririz:</p>
<ul>
    <li>Kişisel verilerinizin işlenip işlenmediğini öğrenme,
    </li>
    <li>Kişisel verileriniz işlenmişse buna ilişkin bilgi talep etme,</li>
    <li>Kişisel verilerinizin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,</li>
    <li>Yurt içinde veya yurt dışında kişisel verilerinizin aktarıldığı üçüncü kişileri bilme,</li>
    <li>Kişisel verilerinizin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme ve bu kapsamda
        yapılan işlemin kişisel verilerinizin aktarıldığı üçüncü kişilere bildirilmesini isteme,</li>
    <li>Kanun’a ve ilgili diğer kanun hükümlerine uygun olarak işlenmiş olmasına rağmen, işlenmesini gerektiren
        sebeplerin ortadan kalkması hâlinde kişisel verilerin silinmesini veya yok edilmesini isteme ve bu kapsamda
        yapılan işlemin kişisel verilerinizin
        aktarıldığı üçüncü kişilere bildirilmesini isteme,</li>
    <li>İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle aleyhinize bir sonucun
        ortaya çıkması durumunda buna itiraz etme,</li>
    <li>Kişisel verilerinizin kanuna aykırı olarak işlenmesi sebebiyle zarara uğramanız hâlinde zararın giderilmesini
        talep etme.</li>
</ul>
<p>Yukarıda sıralanan haklarınıza yönelik başvurularınızı,&nbsp;
    <a href="/gizlilikpolitikasi">www.meowmeow.com.tr/gizlilikpolitikasi</a>'dan ulaşabileceğiniz&nbsp; Veri Sahibi
    Başvuru Formu’nu doldurarak Şirketimize iletebilirsiniz. Talebinizin niteliğine göre en kısa sürede ve en geç otuz
    gün içinde başvurularınız
    ücretsiz olarak sonuçlandırılacaktır; ancak işlemin ayrıca bir maliyet gerektirmesi halinde Kişisel Verileri Koruma
    Kurulu tarafından belirlenecek tarifeye göre tarafınızdan ücret talep edilebilecektir.
</p>
<p><strong>VERİ SAHİPLERİNİN KİŞİSEL VERİLERİNİN GÜVENLİĞİNİN
        SAĞLANMASINA YÖNELİK ALINAN TEDBİRLER</strong><br> Şirket tarafından kişisel verilerin korunmasına ve veri
    güvenliğinin sağlanmasına verilen önem doğrultusunda, Kanun’un 12. maddesine uygun olarak, Şirketimiz tarafından
    veri güvenliğinin sağlanması
    için,
</p>
<ul>
    <li>Kişisel verilerin hukuka aykırı olarak işlenmesini önlemek,</li>
    <li>Kişisel verilere hukuka aykırı olarak erişilmesini önlemek,</li>
    <li>Kişisel verilerin muhafazasını sağlamak,</li>
</ul>
<p>amacıyla uygun güvenlik düzeyini temin etmeye yönelik gerekli her türlü teknik ve idari tedbirleri almaktadır.</p>
<p><strong>2. ÇEREZ POLİTİKASI</strong><br> İnternet sitemizden en verimli şekilde faydalanabilmeniz ve kullanıcı
    deneyiminizi geliştirebilmek için Çerez kullanıyoruz. Çerez kullanılmasını tercih etmezseniz tarayıcınızın
    ayarlarından Çerezleri silebilir
    ya da engelleyebilirsiniz. Ancak bunun internet sitemizi kullanımınızı etkileyebileceğini hatırlatmak isteriz.
    Tarayıcınızdan Çerez ayarlarınızı değiştirmediğiniz sürece bu sitede çerez kullanımını kabul ettiğinizi
    varsayacağız.
</p>
<p><strong>ÇEREZ NEDİR VE NEDEN KULLANILMAKTADIR?</strong><br> Çerezler, ziyaret ettiğiniz internet siteleri tarafından
    tarayıcılar aracılığıyla cihazınıza veya ağ sunucusuna depolanan küçük metin dosyalarıdır.</p>
<p>İnternet Sitemizde çerez kullanılmasının başlıca amaçları aşağıda sıralanmaktadır:</p>
<ul>
    <li>İnternet sitesinin işlevselliğini ve performansını arttırmak yoluyla sizlere sunulan hizmetleri geliştirmek,
    </li>
    <li>İnternet Sitesini iyileştirmek ve İnternet Sitesi üzerinden yeni özellikler sunmak ve sunulan özellikleri
        sizlerin tercihlerine göre kişiselleştirmek;</li>
    <li>İnternet Sitesinin, sizin ve Şirketin hukuki ve ticari güvenliğinin teminini sağlamak.</li>
</ul>
<p><strong>İNTERNET SİTEMİZDE KULLANILAN ÇEREZ TÜRLERİ</strong><br>
    <strong>Oturum Çerezleri (Session Cookies)</strong><br> Oturum çerezleri ziyaretçilerimizin İnternet Sitesini
    ziyaretleri süresince kullanılan, tarayıcı kapatıldıktan sonra silinen geçici çerezlerdir.</p>
<p>Bu tür çerezlerin kullanılmasının temel amacı ziyaretiniz süresince İnternet Sitesinin düzgün bir biçimde
    çalışmasının teminini sağlamaktır.</p>
<p>Örneğin; birden fazla sayfadan oluşan çevrimiçi formları doldurmanızın sağlanmaktadır.</p>
<p><strong>Kalıcı Çerezler (Persistent Cookies)</strong><br> Kalıcı çerezler İnternet Sitesinin işlevselliğini artırmak,
    ziyaretçilerimize daha hızlı ve iyi bir hizmet sunmak amacıyla kullanılan çerez türleridir.</p>
<p>Bu tür çerezler tercihlerinizi hatırlamak için kullanılır ve tarayıcılar vasıtasıyla cihazınızda depolanır.</p>
<p>Kalıcı çerezlerin bazı türleri; İnternet Sitesini kullanım amacınız gibi hususlar göz önünde bulundurarak sizlere
    özel öneriler sunulması için kullanılabilmektedir.</p>
<p>Kalıcı çerezler sayesinde İnternet Sitemizi aynı cihazla tekrardan ziyaret etmeniz durumunda, cihazınızda İnternet
    Sitemiz tarafından oluşturulmuş bir çerez olup olmadığı kontrol edilir ve var ise, sizin siteyi daha önce ziyaret
    ettiğiniz anlaşılır ve
    size iletilecek içerik bu doğrultuda belirlenir ve böylelikle sizlere daha iyi bir hizmet sunulur.
</p>
<p><strong>İNTERNET SİTEMİZDE KULLANILAN ÇEREZLER</strong><br>
    <strong>Kişiselleştirme Çerezleri (Customization Cookies)</strong><br> Kullanıcıların tercihlerini farklı internet
    sitesinin farklı sayfalarını ziyarette de hatırlamak için kullanılan çerezlerdir. Örneğin, seçmiş olduğunuz dil
    tercihinizin hatırlanması.</p>
<p><strong>Analitik Çerezler (Analytical Cookies)</strong><br> Analitik çerezler ile internet sitesini ziyaret edenlerin
    sayıları, internet sitesinde görüntülenen sayfaların tespiti, internet sitesi ziyaret saatleri, internet sitesi
    sayfaları kaydırma hareketleri
    gibi analitik sonuçların üretimini sağlayan çerezlerdir.</p>
<p><strong>ÇEREZLERİN KULLANIMI VERİ SAHİPLERİ TARAFINDAN
        ENGELLENEBİLİR Mİ?</strong><br> Tarayıcınızın ayarlarını değiştirerek çerezlere ilişkin tercihlerinizi
    kişiselleştirme imkanına sahipsiniz.</p>
<ul>
    <li><a href="https://www.adobe.com/uk/privacy/opt-out.html">Adobe Analytics</a></li>
    <li><a href="https://help.aol.com/articles/restore-security-settings-and-enable-cookie-settings-on-browser">AOL</a>
    </li>
    <li><a href="https://support.google.com/ads/answer/2662922?hl=en">Google Adwords</a></li>
    <li><a href="https://tools.google.com/dlpage/gaoptout">Google Analytics</a></li>
    <li><a href="https://www.google.com/support/chrome/bin/answer.py?hl=en&amp;answer=95647">Google
            Chrome</a></li>
    <li><a href="https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies">Internet
            Explorer</a></li>
    <li><a href="https://support.mozilla.com/en-US/kb/Cookies">MozillaFirefox</a></li>
    <li><a href="https://www.opera.com/browser/tutorials/security/privacy/">Opera</a></li>
    <li><a href="https://support.apple.com/kb/ph19214?locale=tr_TR">Safari</a></li>
</ul>
<p><strong>3. İNTERNET SİTESİ GİZLİLİK POLİTİKASI’NIN YÜRÜRLÜĞÜ</strong><br> İnternet Sitesi Gizlilik Politikası
    01.03.2018 tarihlidir. Politika’nın tümünün veya belirli maddelerinin yenilenmesi durumunda Politika’nın yürürlük
    tarihi güncellenecektir.
</p>
<p>Gizlilik Politikası Şirketin internet sitesinde (www.meowmeow.com.tr) yayımlanır ve kişisel veri sahiplerinin talebi
    üzerine ilgili kişilerin erişimine sunulur.</p>
<p>Kişisel verilerinizin işlenmesine ilişkin detaylı bilgilere&nbsp;www.meowmeow.com.tr/gizlilikpolitikasi adresinde yer
    alan&nbsp; Kişisel
    Verilerinin Korunması ve İşlenmesi Politikası’ndan ulaşabilirsiniz.</p>