<h1 class="font-bold text-4xl mb-5">Gizlilik Beyanı, Kişisel Veriler Politikası ve İletişim İzni</h1>

<div class="mb-5">
    <h6 class="font-bold text-lg">Bu Gizlilik/Kişisel Veri Politikası;</h6>

    <p>
        Spry Software'ın, “www.meowmeow.com.tr”nin (“Web Sitesi”) ziyaretçilerinin gizlilik ve kişisel verilerinin korunması haklarını gözeterek ziyaretçilerine daha iyi bir kullanım deneyimi sağlayabilmek için kişisel verilerini işlemesi ve internet çerezleri
        kullanması suretiyle ne tür kişisel veriler topladığını, bunların ne şekilde ve nasıl kullanıldığını, “www.meowmeow.com.tr”nin kişisel verilerinizi kimlerle paylaşabileceğini, www.meowmeow.com.tr üzerinden işlenen kişisel veriler üzerindeki haklarınızın
        neler olduğunu ve bu hakları nasıl kullanabileceğinizi açıklamaktadır. İşbu Politika, Web Sitesi’ne hangi teknolojilerle, hangi yöntemlerle ve ne şekilde bağlandığınıza bağlı olmaksızın uygulanacaktır.
    </p>
</div>

<div class="mb-5">
    <h6 class="font-bold text-lg">İşlenen Kişisel Verileriniz ve Veri İşleme Amacı</h6>

    <p>
        Spry Software'ın e-ticaret Abonelik modeli olan “www.meowmeow.com.tr”, ziyaretçilerine, kullanıcılarına, daha iyi hizmet verebilmek amacıyla ve 5651 Sayılı İnternet Ortamında Yapılan Yayınların Düzenlenmesi ve Bu Yayınlar Yoluyla İşlenen Suçlarla Mücadele
        Edilmesi Hakkında Kanun ve ilgili ikincil mevzuat, 6563 Sayılı Elektronik Ticaretin Düzenlenmesi Hakkında Kanun, Elektronik Ticarette Hizmet Sağlayıcı ve Aracı Hizmet Sağlayıcıları Hakkında Yönetmelik, Ticari İletişim ve Ticari Elektronik İletiler
        Hakkında Yönetmelik ve sair ikincil mevzuat, 5237 Sayılı Türk Ceza Kanunu ve 6698 Sayılı Kişisel Verilerin Korunması Kanunu ve ilgili diğer ilgili mevzuattan kaynaklanan yasal yükümlülükleri ve hizmet standartları çerçevesinde; söz konusu amaç
        ve yasal yükümlülüklerini yerine getirebilmeyi, size daha iyi hizmet verilebilmesini ve istatistiki çalışmalar yapılabilmesini sağlayacak kişisel verilerinizi (ad, soyad, doğum tarihi, cep telefonu numarası, sabit telefon numarası, e-posta, IP
        adresi, cinsiyet, adres, sosyal medya hesaplarıyla bağlanılması durumunda üyenin o kanallar aracılığıyla paylaşılmasına onay verdiği bilgiler de dahil ve fakat bunlarla sınırlı olmamak kaydıyla kullanıcıyı doğrudan veya dolaylı olarak tanımlamaya
        yönelik her türlü kişisel bilgi) sizlerden talep etmektedir. Bu kişisel veriler “www.meowmeow.com.tr” hizmetlerinden ve bu platformdan yararlanabilmeniz adına, açık rızanıza istinaden, işbu Gizlilik/Kişisel Veriler Politikası ve İletişim İzni
        ile belirlenen amaçlar ve kapsam dışında kullanılmamak kaydı ile bilgi güvenliği tedbirleri de alınarak işlenecek ve saklanacaktır.
    </p>
</div>

<div class="mb-5">
    Politika’yı kabul etmeniz ve web sitesi’ni ziyaret etmeniz halinde, üye olmasanız dahi aşağıda yer alan kişisel verilerinizi işleyebiliriz:

    <ul>
        <li>IP adresiniz;</li>
        <li>Konumunuz;</li>
        <li>Web Sitesi’ni kullanım şekliniz, süreniz ve gezinme tercihleriniz;</li>
        <li>Bağlantı sağladığınız cihaza ait özellikler;</li>
        <li>Web Sitesi’ne yönlendirilmiş olduğunuz diğer web siteleri, link ve kanallar.</li>
    </ul>
</div>

<div class="mb-5">
    <h6 class="font-bold text-lg">Kişisel Verilerinizle İlgili Haklarınız</h6>

    <p>
        İşlenen kişisel verilerinizin neler olduğunu, işleme amacı doğrultusunda kullanılıp kullanılmadığını, yurt içi veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri öğrenmek, eksik veya yanlış işlenen kişisel verileriniz söz konusu ise veya
        işlenen kişisel verilerinizde herhangi bir değişiklik olması durumunda bu verilerinizi değiştirmek, güncellemek ve/veya silmek, bu durumun kişisel verilerinizin aktarıldığı üçüncü kişilere bildirilmesini talep etmek amacıyla, <a class="text-blue-600 hover:text-blue-500 focus:text-blue-700"
            href="mailto:info@meowmeow.com.tr">info@meowmeow.com.tr</a> adresine e-posta göndererek iletişime geçerek ve gerekli değişiklik, güncelleme ve/veya silme gibi taleplerde bulunabilirsiniz. 6698 Sayılı Kişisel Verilerin Korunması Kanunu madde 11
        uyarınca sahip olduğunuz diğer haklar saklıdır.
    </p>
</div>

<div class="mb-5">
    <h6 class="font-bold text-lg">Çerez (Cookie) Kullanımı</h6>

    <p>
        MeowMeow.com.tr, ziyaretçilerine, kullanıcılarına daha iyi hizmet sunabilmek, ziyaretçilerini ve üyelerini üyelik ve e-ticaret abonelik platformunun faydalarından istifade ettirmek amacıyla ve yasal yükümlülüğü çerçevesinde, işbu Gizlilik/Kişisel Veriler
        Politikası ve İletişim İzni ile belirlenen amaçlar ve kapsam dışında kullanılmamak kaydı ile gezinme bilgilerinizi toplayacak, işleyecek, üçüncü kişilerle paylaşacak ve güvenli olarak saklayacaktır. Gezinme bilgilerinizi toplama amacıyla kullandığımız
        çerezler (cookie) hakkında bilgi, www.meowmeow.com.tr websitesine/mobil sitesine ilk defa giriş yaptığınızda veya mobil uygulamasını telefonunuza veya tabletinize yüklediğinizde “açılır pencere (pop-up ekran)” ile verilecektir. Çerezler, “www.meowmeow.com.tr”
        web Sitesini ziyaret ettiğinizde veya mobil uygulamayı cep telefonunuza yüklediğinizde veya mobil sitesi’nden bağlandığınızda, internet tarayıcınız tarafından indirilen ve bilgisayarınızda veya herhangi bir başka elektronik cihazınızda saklanan
        küçük boyutlardaki bilgileri içeren metin dosyalarıdır. Çerezler, günlük dosyaları, clear gifler ve/veya üçüncü kişi kaynakları vasıtasıyla topladığımız bilgileri, tercihlerinizin bir özetini oluşturmak için saklamaktayız. Kimliğiniz belirleyici
        nitelikteki Verilerinizi ve/veya üyeliğinize ilişkin kullanım geçmişinizi, sizin istek ve tercihlerinize uygun promosyonları ve pazarlama tekliflerini sunabilmek, size özel tanıtım yapmak , site içeriğini sizin için geliştirmek ve/veya tercihlerinizi
        tespit etmek amacıyla birbirleriyle eşleştirebilir/ilişkilendirebilir, site üzerinde gezinme bilgilerinizi ve/veya site üzerindeki üyelik kullanım geçmişinizi izlemektedir .Örneğin, çevrimiçi ve çevrimdışı olarak toplanan bilgiler de dâhil olmak
        üzere, sizden topladığımız bilgileri farklı araçlar vasıtasıyla veya muhtelif zamanlarda eşleştirme/ilişkilendirme işlemine tabi tutabilir ve bu Verileri, üçüncü kişiler de dâhil olmak üzere diğer kaynaklardan temin edilen bilgiler ile birlikte
        kullanabiliriz. Bunu yapabilmek amacıyla, bizim için pazarlama hizmetlerinde ve diğer ticari faaliyetlerde bulunan şirketler gibi, birlikte çalışıp dikkatli bir şekilde seçtiğimiz tedarikçiler ve iş ortakları gerekli olması halinde paylaşılabilecektir.
        Söz konusu eşleştirme ve kullanma yalnızca işbu Gizlilik/Kişisel Veriler Politikası ve İletişim İzni ile belirlenen amaçlar ve kapsam dahilinde kalacaktır.
    </p>
</div>

<div class="mb-5">
    <h6 class="font-bold text-lg">Kullanılan çerez çeşitleri ve nasıl kullanıldığı?</h6>

    <p>
        “www.meowmeow.com.tr”, web sitesinde, mobil uygulamasında ve mobil sitesinde oturum çerezleri ve kalıcı çerezler kullanmaktadır. Oturum kimliği çerezi, tarayıcınızı kapattığınızda sona erer. Kalıcı çerez ise sabit diskinizde uzun bir süre kalır. İnternet
        tarayıcınızın “yardım” dosyasında verilen talimatları izleyerek veya “www.allaboutcookies.org” adresini ziyaret ederek kalıcı çerezleri kaldırabilir ve hem oturum çerezlerini hem de kalıcı çerezleri reddedebilirsiniz. Kalıcı çerezleri veya oturum
        çerezlerini reddederseniz, web sitesini, mobil uygulamayı ve mobil sitesini kullanmaya devam edebilirsiniz, fakat web sitesinin, mobil uygulamanın ve mobil sitesinin tüm işlevlerine erişemeyebilirsiniz veya erişiminiz sınırlı olabilir.
    </p>
</div>

<div class="mb-5">
    “www.meowmeow.com.tr” çerezleri;
    <ul>
        <li>
            yapmış olduğunuz tercihleri hatırlamak ve web sitesi kullanımınızı kişiselleştirmek amacıyla kullanır. <br> Bu kullanım:

            <ul>
                <li>Şifre/şifrelerinizi kaydeden ve web sitesi / oturumunuzun sürekli açık kalmasını sağlayan, böylece her ziyaretinizde birden fazla kez şifre girme zahmetinden kurtaran çerezleri ve</li>
                <li>web sitesini daha sonraki ziyaretlerinizde sizi hatırlayan ve tanıyan çerezleri içerir.</li>
            </ul>
        </li>

        <li>web sitesin nereden bağlandığınız, hangi içeriği görüntülediğiniz ve ziyaretinizin süresi gibi web sitesini nasıl kullandığınızın izlenmesi dahil olmak üzere; siteyi nasıl kullandığınızı belirlemek için kullanır,
        </li>
        <li>sizin ilgi alanlarınıza ve size daha uygun içerik ve reklam sunmak ve tanıtım amacıyla kullanır. Bu şekilde, web sitesini kullandığınızda size daha uygun içerikleri, kişiye özel kampanya ve hizmetleri sunar ve daha önceden istemediğinizi belirttiğiniz
            içerik veya fırsatları bir daha sunmaz, çerezler yoluyla elde edilen bilgileri toplanılan kişisel verilerle eşleştirir.
        </li>
    </ul>
</div>

<div class="mb-5">
    <h6 class="font-bold text-lg">Spry Software üçüncü taraf çerezlerini reklam ve yeniden hedefleme için ne şekilde kullanmaktadır?
    </h6>

    <p>
        Arama motorlarını, web sitemizi ve/veya reklam verdiğimiz üçüncü taraf sitelerini ziyaretiniz sırasında size uygun olduğunu düşünebileceğimiz reklamları size sunmak için, reklam teknolojisi kullanımına imkân sağlamak amacıyla da çerez kullanabiliriz.
        Bu teknoloji, web sitemize ve reklam vermiş olduğumuz üçüncü taraf sitelerine yapmış olduğunuz önceki ziyaretlerinize ilişkin bilgileri, isteğinize bağlı reklamları size sunmak amacıyla kullanmaktadır. Bu reklamların sunulması sırasında, kendisine
        has bir üçüncü taraf çerezi, sizi tanıyabilmemize imkân sağlamak için tarayıcınıza yerleştirebilir veya tarayıcınız böyle bir çerezi kabul edebilir. Bu site, Google Inc. (“Google”) tarafından verilen bir web analiz hizmeti olan Google Analizi
        (Google Analytics) de kullanmaktadır. Google Analiz, ziyaretçilerin siteyi nasıl kullandığının analizine yardımcı olması için çerez kullanmaktadır. Bu siteyi kullanımınıza ilişkin bilgiler (IP adresiniz de dâhil), Amerika Birleşik Devletlerinde
        bulunan kendi sunucularına Google tarafından iletilecek ve bu sunucularda Google tarafından saklanacak olup; Google, siteyi kullanımınızı değerlendirmek, internet sitesindeki faaliyetlere ilişkin raporları bizim için derlemek ve internet sitesi
        faaliyetleri ile internet kullanımına ilişkin diğer hizmetleri vermek için bu bilgileri kullanacak olmakla birlikte, IP adresinizi kendi elinde bulunan diğer herhangi bir Veri ile ilişkilendirmeyecektir. Kullanımı sonlandırmak da dâhil olmak üzere,
        Google Analizin kullanımına ilişkin daha detaylı bilgiler için şu adresi ziyaret ediniz: <a class="text-blue-600 hover:text-blue-500 focus:text-blue-700" target="_blank" rel="noopener nofollow" href="http://www.google.co.uk/intl/en/analytics/privacyoverview.html">http://www.google.co.uk/intl/en/analytics/privacyoverview.html</a>
    </p>
</div>

<div class="mb-5">
    <h6 class="font-bold text-lg">Çerez kullanan üçüncü taraf internet siteleri</h6>

    <p>
        Web sitemizde, üçüncü taraf internet sitelerine verilen linkler yer alabilir ve söz konusu üçüncü taraf internet sitelerinin tamamı veya bunlardan bazıları çerez kullanıyor olabilir. Bu Politika, kendi gizlilik ve çerez politikalarına tabi olacak üçüncü
        taraf internet sitelerini kapsamamaktadır. Spry Software’ın bu tür siteler tarafından kullanılan çerezlere ve diğer özelliklere erişimi söz konusu olmadığı gibi, bunlar üzerinde kontrol imkânı da bulunmamaktadır. Bu sitelerin gizlilik uygulamaları
        hakkında daha fazla bilgi için lütfen bu sitelerle doğrudan irtibata geçiniz.
    </p>
</div>

<div class="mb-5">
    <h6 class="font-bold text-lg">Internet Protokol (IP) Adresi</h6>

    <p>
        Web sitemizi kullanmakta olduğunuz durumlarda, IP adresinizi, sunucumuz ile ilgili sorunların tespit edilmesine yardımcı olması ve web sitemizi idare etmek için kullanabiliriz. IP adresiniz, sizin kim olduğunuzun oturum süresince tespit edilmesine yardımcı
        olması ve kapsamlı demografik bilgiler toplamak için de kullanılabilir.
    </p>
</div>

<div class="mb-5">
    <h6 class="font-bold text-lg">Tıklama Dizisi (Clickstream)</h6>

    <p>
        İnterneti kullandığınız sırada, ziyaret ettiğiniz her sitede elektronik bilgilerin bir izi kalmaktadır. Bazen “tıklama dizisi verileri” olarak da anılan bu bilgiler, bir internet sitesinin sunucusu tarafından toplanıp saklanabilir. Tıklama dizisi verileri,
        kullandığınız tarayıcı yazılımı ile bilgisayarın tipini, Spry Software web sitesine bağlanmak için kullandığınız linkin yer aldığı internet sitesinin adresini ve bazı durumlarda, e-mail adresinizi de bize söyleyebilir. Web sitesi sayfasında ziyaretçilerin
        kaldığı süreyi, ziyaretçilerin site genelinde nasıl dolaştığını ve ziyaretçilerin ihtiyaçlarını daha iyi karşılamak amacıyla web sitemizi isteklerinize göre nasıl uyarlayabileceğimizi tespit etmek için tıklama dizisi verilerini kullanabiliriz.
        Bu bilgiler, www.meowmeow.com.tr’yi geliştirmek amacıyla, sadece bu amaçla kullanılacaklardır. Tıklama dizisi verilerinin herhangi bir şekilde toplanması veya kullanılması, anonim ve toplu olarak yapılacak olup; e-mail adresiniz haricinde, kişisel
        hiçbir veriyi içermeyecektir.
    </p>
</div>

<div class="mb-5">
    <h6 class="font-bold text-lg">Kişisel Veri Saklama Süresi</h6>

    <p>
        Elektronik Ticaretin Düzenlenmesi Hakkında Kanun gereği; verilen onayın geri alındığına ilişkin kayıtlar bu tarihten itibaren 1 yıl; ticari elektronik iletinin içeriği ve gönderiye ilişkin diğer her türlü kayıt ise gerektiğinde ilgili kurum ve kuruluşlara
        sunulmak üzere 3 yıl saklanacak olup, bu süre geçtikten sonra söz konusu veriler Spry Software tarafından veya talebiniz üzerine silinir, yok edilir veya anonim hale getirilir.
    </p>
</div>

<div class="mb-5">
    <h6 class="font-bold text-lg">Resmi Makamlarla Kişisel Veri Paylaşımı</h6>

    <p>
        Spry Software, www.meowmeow.com.tr ziyaretinize veya kullanımınıza ilişkin kişisel verilerinizi ve gezinme bilgileriniz gibi trafik bilgilerinizi; güvenliğiniz ve Spry Software’ın yasalar karşısındaki yükümlülüğünü ifa etmesi amacıyla yasal veya idari
        olarak bildirim veya bilgi verme yükümlülüğünün mevcut olduğu durumlarda yasal olarak bu bilgileri talep etmeye yetkili olan kamu kurum ve kuruluşları ile paylaşabilecektir.
    </p>
</div>

<div class="mb-5">
    <h6 class="font-bold text-lg">Üçüncü Kişilerle Kişisel Veri Paylaşımı</h6>

    <p>
        Spry Software internet sitesi üzerinden, e-mail yazışmaları ve diğer iletişim araçları vasıtasıyla edindiği kişisel verilerinizi, web sitesinin tüm fonksiyonlarıyla kullanılabilmesi, yedekleme yapılması hizmetlerin yerine getirilmesi, ve bunların yönetimi
        amaçlarıyla Türkiye’de ve/veya yurtdışında bulunan üçüncü kişilere aktarabilir.
    </p>

    <p>
        Kişisel verilerinizin Spry Software’ın Türkiye’de ve/veya yurtdışında bulunan teşebbüslerine, iştiraklerine, çözüm ortakları ve servis/ürün sağlayıcılarına aktarımına ilişkin açık onayını internet sitesi üzerinden Spry Software’a verdiğini ve ayrıca işbu
        Politika dahilinde bunu onayladığını, aktarımın yapılacağı teşebbüs, iştirak, çözüm ortakları ve servis/ürün sağlayıcılarının yeterli kanuni koruma tedbirlerine sahip olmayan ülkelerde de bulunabileceği hususunu da ayrıca kabul etmektesiniz.
    </p>
</div>

<div class="mb-5">
    <h6 class="font-bold text-lg">Kişisel Verilerin Korunmasına İlişkin Önlemler</h6>

    <p>
        Kişisel ve kişisel olmayan bilgilerinizin güvenliğinin sağlanması ve bu verilerin korunması önemlidir. Spry Software, kişisel verileri güvenli bir ortamda saklamakta olup; yetkisiz erişim veya bu bilgilerin kaybı, hatalı kullanımı, ifşa edilmesi, değiştirilmesine
        karşı gerekli önlemleri almaktadır. Web sitemizi kullanmakta olduğunuz durumlarda, Spry Software şifreleme yazılımı kullanmak suretiyle bilgilerinizin bilgisayarınızdan sunuculara güvenli bir şeklide iletilmesini sağlamaya çalışmaktadır. Kişisel
        verileri depolarken güvenlik duvarları ve Güvenli Soket Katmanı (SSL) şifrelemesi gibi genel kabul görmüş güvenlik teknolojisi standartlarını kullanmaktadır. Buna ek olarak, web sitesi aracılığıyla “www.meowmeow.com.tr”’a kişisel verilerinizi
        gönderirken, bu veriler SSL kullanılarak aktarılmaktadır. Spry Software, kişisel verilerinizi gizli tutmayı, gizliliğin sağlanması ve güvenliği için gerekli teknik ve idari her türlü tedbiri almayı ve gerekli özeni göstermeyi taahhüt etmektedir.
        Ancak internet doğası gereği herkese ve her türlü tehlikeye açık olması sebebiyle, Spry Software’ın gerekli bilgi güvenliği önlemlerini almasına karşın, web sitesine ve sisteme yapılan saldırılar sonucunda kişisel verilerin zarar görmesi veya
        üçüncü kişilerin eline geçmesi durumunda her zaman korumayı kabul etmemektedir, Spry Software bu durumu derhal sizlere ve Kişisel Verileri Koruma Kurulu’na bildirir ve gerekli önlemleri alır.
    </p>
</div>

<div class="mb-5">
    <h6 class="font-bold text-lg">Şirketimizin Devri</h6>

    <p>
        Pek muhtemel olmasa da şirketimizin tamamını veya bir kısmını başka bir kişi veya kuruluşa sattığımız veya başka bir şekilde elimizden çıkarttığımız durumlarda, Verilerinizi bunun bir parçası olarak aktarma hakkını saklı tutmaktayız.
    </p>
</div>

<div class="mb-5">
    <h6 class="font-bold text-lg">Gizlilik/Kişisel Veriler Politikası ve İletişim İzni’nde Yapılacak Değişiklikler</h6>

    <p>
        Spry Software, işbu Gizlilik/Kişisel Veriler Politikası ve İletişim İzni’nde her zaman değişiklik yapabilir. Bu değişiklikler, değiştirilmiş yeni Gizlilik/Kişisel Veriler Politikası ve İletişim İzni’nin “www.meowmeow.com.tr” sitesine konulmasıyla birlikte
        derhal geçerlilik kazanır. İşbu Gizlilik/Kişisel Veriler Politikası ve İletişim İzni’ndeki değişikliklerden haberdar olmanız için, sizlere gerekli bilgilendirme yapılacaktır. Kullanıcılar, Kişisel bilgilerini ve iletişim tercihlerini her zaman
        güncelleyebilirler. Bu konudaki taleplerinizi <a class="text-blue-600 hover:text-blue-500 focus:text-blue-700" href="mailto:info@meowmeow.com.tr">info@meowmeow.com.tr</a> e-posta adresine e-posta göndererek iletebilirsiniz. Talebiniz 30
        (otuz) gün içerisinde değerlendirilerek, talebinizin sonucu ile ilgili olarak size yazılı şekilde bilgi verilecektir. Bunun yanında, kullanıcılar, “Gizlilik/Kişisel Veriler Politikası ve İletişim İzni” ile ilgili her türlü taleplerini de <a class="text-blue-600 hover:text-blue-500 focus:text-blue-700"
            href="mailto:info@meowmeow.com.tr">info@meowmeow.com.tr</a> e-posta adresine e-posta göndererek iletebilirler.
    </p>
</div>

<div class="mb-5">
    <h6 class="font-bold text-lg">Uygulanacak Hukuk, Yetkili Mahkeme ve İcra Daireleri</h6>

    <p>
        İşbu Gizlilik/Kişisel Veriler Politikası ve İletişim İzni, Türkiye Cumhuriyeti kanunlarına tabidir. Gizlilik/Kişisel Veriler Politikası ve İletişim İzni’nin uygulanmasından doğabilecek her türlü uyuşmazlığın çözümünde İstanbul Merkez (Çağlayan) Mahkeme
        ve İcra Daireleri yetkilidir.
    </p>
</div>

<div class="mb-5">
    <h6 class="font-bold text-lg">İletişim İzni</h6>

    <p>
        İşbu Gizlilik, Kişisel Veriler Politikası ve İletişim İzni’ni kabul etmekle, bizimle ve paylaşılmasına rıza göstermiş olduğunuz kişisel verilerinizin, tarafınıza çeşitli avantajların sağlanıp sunulabilmesi ve size özel tanıtım, promosyon, reklam, satış,
        pazarlama, anket ve benzer amaçlı her türlü elektronik iletişimin telefon, kısa mesaj (SMS), e-posta ve benzeri yollarla yapılması ve diğer iletişim mesajlarının gönderilmesi amacıyla; toplanmasına, saklanmasına, işlenmesine, kullanılmasına ve
        Spry Software’ın sözleşme ilişkisi içerisinde olduğu üçüncü kişilere aktarımına izin vermiş bulunmaktasınız.
    </p>
</div>