<div>
    <h3>ÜYELİK SÖZLEŞMESİ</h3>

    <h4>1. TARAFLAR</h4>

    <p>1.1. İşbu üyelik sözleşmesi ("Üyelik Sözleşmesi") merkezi Mehmet Akif Mah. 2504. Sok. No:22/1 Bucak/Burdur olan Spry Software ile Üye ("Üye") arasında, Üye'nin Spry Software’ın Websitesi'nde sunduğu Hizmetler'den yararlanmasına ilişkin koşulların
        belirlenmesi için akdedilmiştir.
    </p>

    <p>1.2. Spry Software ve Üye işbu Üyelik Sözleşmesi'nde münferiden "Taraf" ve müştereken "Taraflar" olarak anılacaklardır.
    </p>

    <h4>2. ÜYELİK SÖZLEŞMESİ'NİN AMACI VE KAPSAMI</h4>

    <p>2.1. Spry Software, "wwww.meowmeow.com.tr alan adlı çevrimiçi elektronik ticaret platformunu işletmekte olup abonelikli e-ticaret modeli ile mal veya hizmet satmaktadır. Spry Software, Websitesi'nde yer alan herhangi bir ürün veya hizmetin satıcısı
        konumundadır.
    </p>

    <p>2.2. Üyelik Sözleşmesi uyarınca Üye, Spry Software tarafından yönetilmekte olan meowmeow.com.tr alan adlı elektronik ticaret platformu üzerinde satılan ürün ve/veya hizmetleri satın almak amacıyla Websitesine üye olmak ve Websitesi’nin sunduğu avantajlardan
        faydalanmak istemektedir.</p>

    <p>2.3. Üyelik Sözleşme'nin amacı, Websitesi üzerinde Spry Software ya da Spry Software’nin belirlediği iş ortakları tarafından sunulan Hizmetler'den, Üyeler'in yararlanmasına ilişkin koşulların belirlenmesi ve bu doğrultuda Taraflar'ın hak ve yükümlülüklerinin
        tespitidir. Üyelik Sözleşmesi'nin Üye tarafından kabulü ile Üye, Websitesi'nde yer alan ve yer alacak olan Spry Software tarafından sunulan Hizmetler'e, kullanıma, içeriklere, uygulamalara, Üyeler'e ve diğer kullanıcılara yönelik her türlü beyanı
        da kabul etmiş olduğunu kabul, beyan ve taahhüt eder.</p>

    <p>2.4. Üyelik Sözleşmesi, yalnızca Taraflar arasında akdedilmiştir ve Spry Software tarafından Üye'ye sunulan Hizmetler'e yönelik şekil ve şartları kapsamaktadır. Üyeler ile Satıcılar arasındaki ilişki işbu Üyelik Sözleşme'nin kapsamına girmemektedir
        ve Spry Software, Üyeler ile Satıcılar arasındaki ilişkiden hiçbir şekilde sorumlu değildir. Üyeler, Mağazalar'dan gerçekleştirecekleri işlemlere ilişkin olarak Satıcılar'a karşı 6502 sayılı Tüketicinin Korunması Hakkında Kanun başta olmak üzere
        sair mevzuat çerçevesinde haklarını arayabileceklerdir.
    </p>

    <h4>3. TANIMLAR</h4>

    <p>Gizlilik Beyanı/Kişisel Verilerin Korunması Politikası Üyeler'in Websitesi üzerinden ilettikleri kişisel verilerin, Spry Software tarafından hangi amaçlarla ve ne şekilde işleneceği gibi konular da dahil olmak üzere Spry Software’nin kişisel verilere
        ve çerez kullanımına ilişkin genel gizlilik politikasını düzenleyen ve Websitesi üzerinden https://www.meowmeow.com.tr/gizlilik-politikasi adresinden erişilebilecek olan metni ifade eder.
    </p>

    <p>Hesabım Sayfası Üye'nin Websitesi'nde yer alan çeşitli uygulamalardan ve Hizmetler'den yararlanabilmesi için gerekli işlemleri gerçekleştirebildiği, kişisel bilgilerini ve uygulama bazında kendisinden talep edilen bilgilerini girdiği sadece ilgili
        Üye tarafından belirlenmesi gereken e-posta adresi ve şifre ile erişilebilen Üye'ye özel sayfayı ifade eder.</p>

    <p>Hizmet Üyeler'in Üyelik Sözleşmesi içerisinde tanımlı olan iş ve işlemlerini gerçekleştirmelerini sağlamak amacıyla Spry Software tarafından ortaya konulan uygulamaları ifade eder.</p>

    <p>Üye Spry Software ile yaptığı Üyelik Sözleşmesi kapsamında meowmeow.com.tr Websitesi'ne üye olan ve Satıcı tarafından Websitesi üzerinde verilen ilanlarla satışa arz edilen ürün ve/veya hizmetleri satın alma hakkına sahip olan gerçek kişiyi ifade
        eder.</p>

    <p>Websitesi Mülkiyeti Spry Software’a ait olan ve Spry Software'nin Üyelik Sözleşmesi ile belirlenen Hizmetler'i üzerinde sunmakta olduğu “meowmeow.com.tr” alan adına ve alt alan adlarına sahip internet sitesini ve mobil uygulamalarını (mobil uygulama
        mobil siteyi de içermektedir) ifade eder.</p>

    <h4>4. TARAFLAR'IN HAK VE YÜKÜMLÜLÜKLERİ</h4>

    <p>4.1. Üyelik statüsünün kazanılması için, Üye olmak isteyen kullanıcının, Websitesi'nde bulunan Üyelik Sözleşmesi'ni onaylayarak, burada talep edilen bilgileri doğru ve güncel bilgilerle doldurması, gerekmektedir. Üye olmak isteyen kullanıcının 18
        (on sekiz) yaşını doldurmuş olması aranacak ve böyle bir beyanın doğru olduğu varsayılacaktır. Onaylanma işleminin tamamlanması ve Üye'ye bildirilmesi ile Üyelik statüsü başlamakta ve böylece Üye Üyelik Sözleşmesi'nde ve Websitesi'nin ilgili yerlerinde
        belirtilen hak ve yükümlülüklere kavuşmaktadır. Söz konusu Üyelik Sözleşmesi'ni doldururken doğru ve güncel bilgi sağlamayan Üye, bu sebeple doğabilecek tüm zararlardan şahsen kendisi sorumludur.</p>

    <p>4.2. Üyelik hak ve yükümlülüklerinin üye bilgisi verilen gerçek kişi veya tüzel kişi haricinde başka bir gerçek veya tüzel kişiye ait olduğu iddiasının olması ve bu hususta söz konusu kişilerin Spry Software'nden talepte bulunması halinde Spry Software,
        ilgili Üyelik hesabı kullanılarak herhangi bir Hizmet için ödeme yapan en son kişinin Üyelik hesabının sahibi olduğunu kabul ederek, bu doğrultuda işlem yapabilecektir.</p>

    <p>4.3. Üye, Websitesi üzerinden görüntülediği aboneliklerle ilgili herhangi bir hukuki işlem veya satın alma süreci başlatmak istemesi halinde, Websitesi'nde yer alanlar da dahil olmak üzere tüm gerekli yasal yükümlülükleri ve yasal prosedürleri yerine
        getirmek zorunda olduğunu, söz konusu yükümlülükler ve prosedürlerle ilgili olarak Spry Software'nin herhangi bir sorumluluğunun bulunmadığını kabul ve beyan eder.</p>

    <p>4.4. Spry Software'nin Websitesi'nde yer alan herhangi bir ürün veya hizmetin satıcısı konumunda olmaması ve 6563 sayılı Elektronik Ticaretin Düzenlenmesi Hakkında Kanun uyarınca yalnızca "aracı hizmet sağlayıcı" ve 5651 sayılı İnternet Ortamında
        Yapılan Yayınların Düzenlenmesi ve Bu Yayınlar Yoluyla İşlenen Suçlarla Mücadele Edilmesi Hakkında Kanun uyarınca "yer sağlayıcı" olması sebebiyle, Spry Software, Websitesi'nde yer alan ve kendisi tarafından yayınlanmamış hiçbir görsel, yazılı
        veya sair içeriğin gerçekliğinden, güvenilirliğinden, doğruluğundan ya da hukuka uygunluğundan sorumlu değildir ve söz konusu içeriklerin doğruluğunu kontrol etme gibi bir yükümlülüğü bulunmamaktadır. Spry Software, böyle bir yükümlülüğü olmamasına
        rağmen ve takdiri tamamen kendisine ait olmak üzere, söz konusu içerikleri dileği zaman kontrol etme ve gerekli görürse erişime kapatma ve silme hakkına sahiptir. Websitesi'nde yayınladığı herhangi bir görsel, yazılı ve sair içerikle Spry Software'nin
        ya da üçüncü kişilerin haklarını ihlal eden kişiler, Spry Software'ne ve/veya söz konusu üçüncü kişilere karşı sorumludur.</p>

    <p>Ayrıca Websitesi üzerinden Üyeler ve/veya kullanıcıları tarafından beyan edilen, yazılan, kullanılan fikir ve düşünceler, tamamen kendi kişisel görüşleridir ve görüş sahibini bağlar. Bu görüş ve düşüncelerin Spry Software ile hiçbir ilgi ve bağlantısı
        yoktur. Spry Software’nin üyenin beyan edeceği fikir ve görüşler nedeniyle Üyenin veya üçüncü kişilerin uğrayabileceği zararlardan ve üçüncü kişilerin beyan edeceği fikir ve görüşler nedeniyle üyenin uğrayabileceği zararlardan dolayı herhangi
        bir sorumluluğu bulunmamaktadır.
    </p>

    <p>4.5. Üye, Websitesi üzerinden yapacağı alımlarda akdedilecek mesafeli satış sözleşmelerinde Spry Software’nin satıcı taraf, kendisinin ise alıcı taraf olduğunu kabul ve beyan eder.</p>

    <p>4.6. Üye, Websitesi üzerinde gerçekleştirdiği işlemlerde ve yazışmalarda, Üyelik Sözleşmesi'nin hükümlerine, Websitesi'nde belirtilen tüm koşullara, yürürlükteki mevzuata ve ahlak kurallarına uygun olarak hareket edeceğini kabul ettiğini beyan eder.
        Üye'nin Websitesi dâhilinde yaptığı işlem ve eylemlere ilişkin hukuki ve cezai sorumluluk kendisine aittir.</p>

    <p>4.7. Üye'nin Hesabım Sayfası'na erişmek ve Websitesi üzerinden işlem gerçekleştirebilmek için ihtiyaç duyduğu e-posta adresi ve şifre bilgisi, Üye tarafından oluşturulmakta olup, söz konusu bilgilerin güvenliği ve gizliliği tamamen Üye'nin sorumluluğundadır.
        Üye, kendisine ait e-posta adresi ve şifre ile gerçekleştirilen işlemlerin kendisi tarafından gerçekleştirilmiş olduğunu, bu işlemlerden kaynaklanan sorumluluğunun peşinen kendisine ait olduğunu, bu şekilde gerçekleştirilen iş ve işlemleri kendisinin
        gerçekleştirmediği yolunda herhangi bir def'i ve/veya itiraz ileri süremeyeceğini ve/veya bu def'i veya itiraza dayanarak yükümlülüklerini yerine getirmekten kaçınmayacağını kabul, beyan ve taahhüt eder.</p>

    <p>4.8. Üye, Websitesi'ni aşağıda sayılan haller başta olmak üzere hukuka ve ahlaka aykırı bir şekilde kullanmayacaktır:
        <br> 4.8.1. Websitesi'nin herhangi bir kişi adına veri tabanı, kayıt veya rehber yaratmak, kontrol etmek, güncellemek veya değiştirmek amacıyla kullanılması;<br> 4.8.2. Websitesi'nin bütününün veya bir bölümünün bozma, değiştirme veya ters mühendislik
        yapma amacıyla kullanılması;
        <br> 4.8.3. Yanlış bilgiler veya başka bir kişinin bilgileri kullanılarak işlem yapılması, yanlış veya yanıltıcı ikametgâh adresi, elektronik posta adresi, iletişim, ödeme veya hesap bilgileri de dahil yanlış veya yanıltıcı kişisel veriler kullanmak
        suretiyle gerçek olmayan Üyelik hesapları oluşturulması ve bu hesapların Üyelik Sözleşmesi'ne veya yürürlükte mevzuata aykırı şekilde kullanılması, başka bir Üye'nin hesabının izinsiz kullanılması, başka birinin yerine geçilerek ya da yanlış bir
        isimle işlemlere taraf ya da katılımcı olunması;
        <br> 4.8.4. Yorum ve puanlama sistemlerinin; Websitesi'ndeki yorumları Websitesi dışında yayılamak gibi Websitesi dışı amaçlar için kullanılması veya sistemleri manipüle edecek şekilde kullanılma amaçları dışında kullanılması;
        <br> 4.8.5. Virüs veya Websitesi'ne, Websitesi'nin veri tabanına, Websitesi üzerinde yer alan herhangi bir içeriğe zarar verici herhangi başka bir teknoloji yayılması;<br> 4.8.6. Üyeler veya Satıcılar hakkında elektronik posta adresleri de dâhil
        herhangi bir bilginin ilgili kişilerin izni olmaksızın toplanması;<br> 4.8.7. Websitesi tarafından belirlenmiş olan iletişimler ve teknik sistemler üzerinde makul olmayan veya orantısız derecede büyük yüklemeler yaratacak ya da teknik işleyişe
        zarar verecek faaliyetlerde bulunulması, Spry Software'nin önceden yazılı iznini alınmaksızın Websitesi üzerinde otomatik program, robot, web crawler, örümcek, veri madenciliği (data mining) ve veri taraması (data crawling) gibi "screen scraping"
        yazılımları veya sistemleri kullanılması ve bu şekilde Websitesi'nde yer alan herhangi bir içeriğin tamamının veya bir kısmının izinsiz kopyalanarak, yayınlanması veya kullanılması.</p>

    <p>4.9. Üye, Websitesi'nde yaptığı işlemleri Websitesi'ne teknik olarak hiçbir surette zarar vermeyecek şekilde yürütmekle yükümlüdür. Üye, Websitesi'ne sağlayacağı tüm bilgi, içerik, materyal ve sair içeriğin sisteme zarar verecek her türlü program,
        virüs, yazılım, lisansız ürün, truva atı vb. içermemesi için gerekli koruyucu yazılımları ve lisanslı ürünleri kullanmak da dâhil olmak üzere gerekli her türlü tedbiri aldığını kabul ve taahhüt eder. Üye ayrıca Hesap Sayfası'na robot veya otomatik
        giriş yöntemleriyle girmeyeceğini kabul eder.</p>

    <p>4.10. Websitesi'nin veya Websitesi üzerindeki içeriğin işbu Üyelik Sözleşmesi ile belirlenen kullanım şartlarına veya yürürlükteki mevzuat hükümlerine aykırı olarak kullanılması hukuka aykırı olup; Spry Software'nin üyeliği derhal sonlandırma, kullanıma
        kapatma ve diğer ilgili talep, dava ve takip hakları saklıdır.
    </p>

    <h4>5. GİZLİLİK</h4>

    <p>5.1. Spry Software, Üye'nin Websitesi'nde sunulan Hizmetler'den yararlanabilmek için Websitesi üzerinden kendisine sağladığı kişisel verilerin 6698 sayılı Kişisel Verilerin Korunması Kanunu da dahil her türlü mevzuata uygun bir şekilde işlenmesine,
        güvenliğinin sağlanmasına ve korunmasına önem vermektedir. Spry Software, bu kapsamda Üye'nin sağladığı kişisel verileri Websitesi'nde yer alan Gizlilik Beyanı/Kişisel Verilerin Korunması Politikası'na uygun olarak toplamakta, kullanmakta, aktarmakta
        ve diğer şekillerde işleyebilmektedir. Gizlilik Beyanı/Kişisel Verilerin Korunması Politikası, Üyelik Sözleşmesi'nin ayrılmaz bir parçasıdır. Üye, Hizmetler'den faydalanarak ve/veya bir hesap oluşturarak Gizlilik Beyanı/Kişisel Verilerin Korunması
        Politikası'nda belirlendiği şekilde kişisel verilerinin toplanacağını, kullanılacağını ve aktarılacağını ve diğer şekillerde işlenebileceğini özgür iradesiyle bilmekte ve kabul etmektedir. Üye ayrıca bu Üyelik sözleşmesini imzalamakla verilerinin
        Spry Software’nin Türkiye’de ve/veya yurtdışında yeterli koruma tedbirleri veya kanunları olan veya olmayan ülkelerde bulunan teşebbüslerine, iştiraklerine, Amazon Web Services ve benzeri çözüm ortakları ve servis/ürün sağlayıcılarına aktarımına
        ve onlar tarafından Gizlilik Beyanı/Kişisel Verilerin Korunması Politikasında yer alan şekillerde ve amaçlarla işlenmesine ilişkin açık onayını Spry Software’ne verdiğini kabul etmektedir.
    </p>

    <p>5.2. Spry Software söz konusu kişisel verilerin 6698 Sayılı Kişisel Verilerin Korunması Kanunu md. 12 uyarınca güvenli şekilde saklanması, yetkisiz erişimlerin ve hukuka aykırı veri işlemelerin önlenmesi için gereken her türlü tedbiri alacaktır. Üye
        kişisel verileri üzerinde 6698 Sayılı Kişisel Verilerin Korunması Kanunu md. 11 uyarınca sahip olduğu hakları kullanma ve bu verilerinde dilediği zaman değişiklik veya güncelleme yapma hakkına sahiptir.</p>

    <h4>6. FİKRİ MÜLKİYET HAKLARI</h4>

    <p>Spry Software markası, meowmeow.com.tr markası ve logosu, meowmeow.com.tr Websitesi'nin tasarımı, yazılımı, alan adı ve bunlara ilişkin olarak Spry Software tarafından oluşturulan her türlü marka, tasarım, logo, ticari takdim şekli, slogan ve diğer
        tüm içeriğin her türlü fikri mülkiyet hakkı ile Spry Software'nin mülkiyetindedir. Üye, Spry Software'nin veya bağlı şirketlerinin mülkiyetine tabi fikri mülkiyet haklarını Spry Software'nin izni olmaksızın kullanamaz, paylaşamaz, dağıtamaz, sergileyemez,
        çoğaltamaz ve bunlardan türemiş çalışmalar yapamaz.
    </p>

    <p>Üye, meowmeow.com.tr Websitesi'nin bütünü ya da bir kısmını başka bir ortamda Spry Software'nin izni olmaksızın kullanamaz. Üye'nin, üçüncü kişilerin veya Spry Software'ın fikri mülkiyet haklarını ihlal edecek şekilde davranması halinde, Üye, Spry
        Software'nin ve/veya söz konusu üçüncü kişinin tüm doğrudan ve dolaylı zararları ile masraflarını tazmin etmekle yükümlüdür.</p>

    <h4>7. SÖZLEŞME DEĞİŞİKLİKLERİ</h4>

    <p>Spry Software, tamamen kendi takdirine bağlı olmak üzere, Üyelik Sözleşmesi'ni ve Websitesi'nde yer alan Gizlilik Beyanı/Kişisel Verilerin Korunması Politikası da dahil her türlü politikayı, hüküm ve şartı uygun göreceği herhangi bir zamanda, yürürlükteki
        mevzuat hükümlerine aykırı olmamak kaydıyla Websitesi'nde ilan ederek tek taraflı olarak değiştirebilir. Üyelik Sözleşmesi'nin değişen hükümleri, Websitesi'nde ilan edildikleri tarihte geçerlilik kazanacak, geri kalan hükümler aynen yürürlükte
        kalarak hüküm ve sonuçlarını doğurmaya devam edecektir. Şüpheye mahal vermemek adına, işbu Üyelik Sözleşmesi Üye tarafından tek taraflı olarak değiştirilemez.</p>

    <p>Spry Software, Websitesinin içeriğini dilediği zaman değiştirme, Üye ve/veya kullanıcılara sağlanan herhangi bir hizmeti değiştirme ya da sona erdirme veya herhangi bir Mağaza’sını Websitesine ekleme veya kaldırma da dahil Web sitesi'nde kayıtlı kullanıcı
        bilgi ve verilerini silme hakkını saklı tutar.</p>

    <h4>8. MÜCBİR SEBEP</h4>

    <p>Ayaklanma, ambargo, devlet müdahalesi, isyan, işgal, savaş, seferberlik, grev, lokavt, iş eylemleri veya boykotlar dahil olmak üzere işçi-işveren anlaşmazlıkları, siber saldırı, iletişim sorunları, altyapı ve internet arızaları, sisteme ilişkin iyileştirme
        veya yenileştirme çalışmaları ve bu sebeple meydana gelebilecek arızalar, elektrik kesintisi, yangın, patlama, fırtına, sel, deprem, göç, salgın veya diğer bir doğal felaket veya Spry Software'nin kontrolü dışında gerçekleşen, kusurundan kaynaklanmayan
        ve makul olarak öngörülemeyecek diğer olaylar ("Mücbir Sebep") Spry Software'nin Üyelik Sözleşmesi'nden doğan yükümlülüklerini ifa etmesini engeller veya geciktirirse, Spry Software ifası Mücbir Sebep sonucunda engellenen veya geciken yükümlülüklerinden
        dolayı sorumlu tutulamaz ve bu durum işbu Üyelik Sözleşmesi'nin bir ihlali olarak kabul edilemez.</p>

    <h4>9. SÖZLEŞMENİN FESHİ</h4>

    <p>Üye, Üyelik statüsünü info@meowmeow.com.tr adresine “Üyelik İptali” konu başlıklı bir elektronik posta yollayarak her zaman sonlandırabilme veya Üyelik Sözleşmesini fesih etme hakkına sahiptir.</p>

    <p>Spry Software, Üyenin üyelik sözleşmesini, bu Sözleşmede öngörüldüğü şekillerde, üyenin üyeliğini iptal ederek tek taraflı olarak feshedebilecektir.</p>

    <p>Üyeliğin sonlandırılması, Üyenin Kişisel Verilerinin kullanımının sona ermesi veya verilmiş olması halinde Elektronik Ticari İletişim izninin iptali anlamına gelmeyecek ve bu işlemler için Üye’nin, Gizlilik Beyanı/Kişisel Verilerin Korunması Politikasında
        yazan işlemleri gerçekleştirmesi gerekecektir.</p>

    <h4>10. MUHTELİF HÜKÜMLER</h4>

    <p>10.1. Delil sözleşmesi. Üye, işbu Üyelik Sözleşmesi'nden doğabilecek ihtilaflarda Spry Software'nin resmi defter ve ticari kayıtları ile Spry Software'nin veri tabanında, sunucularında tutulan e-arşiv kayıtlarının, elektronik bilgilerin ve bilgisayar
        kayıtlarının, bağlayıcı, kesin ve münhasır delil teşkil edeceğini ve bu maddenin 6100 sayılı Hukuk Muhakemeleri Kanunu'nun 193. maddesi anlamında delil sözleşmesi niteliğinde olduğunu kabul eder.
    </p>

    <p>10.2. Uygulanacak Hukuk ve Uyuşmazlıkların Çözümü. Üyelik Sözleşmesi münhasıran Türkiye Cumhuriyeti kanunlarına tabi olacaktır. İşbu Üyelik Sözleşmesi'nden kaynaklanan veya işbu Üyelik Sözleşmesi ile bağlantılı olan her türlü ihtilaf, İzmir Tüketici
        Mahkemeleri ve İzmir İcra Müdürlükleri'nin münhasır yargı yetkisinde olacaktır.
    </p>

    <p>10.3. Bildirim Spry Software, Üye ile Üye'nin kayıt olurken bildirmiş olduğu elektronik posta adresi vasıtasıyla veya telefon numarasına arama yapmak ve SMS göndermek suretiyle iletişim kuracaktır. Üye, elektronik posta adresini ve telefon numarasını
        güncel tutmakla yükümlüdür.</p>

    <p>10.4. Üyelik Sözleşmesi'nin Bütünlüğü ve Bölünebilirliği. Üyelik Sözleşmesi, konuya ilişkin olarak Taraflar arasındaki anlaşmanın tamamını oluşturmaktadır. İşbu Üyelik Sözleşmesi'nin herhangi bir hükmünün yetkili herhangi bir mahkeme, tahkim heyeti
        veya idari makam tarafından tümüyle veya kısmen geçersiz veya uygulanamaz olduğu veya makul olmadığına karar verilmesi halinde, söz konusu geçersizlik, uygulanamazlık veya makul olmama ölçüsünde Üyelik Sözleşmesi bölünebilir olarak kabul edilecek
        ve diğer hükümler tümüyle yürürlükte kalmaya devam edecektir.
    </p>

    <p>10.5. Üyelik Sözleşmesi'nin Devri. Üye, Spry Software'nin önceden yazılı onayını almaksızın Üyelik Sözleşmesi'ndeki haklarını veya yükümlülüklerini tümüyle veya kısmen temlik edemeyecektir.</p>

    <p>10.6. Tadil ve Feragat. Taraflar'dan birinin Üyelik Sözleşmesi'nde kendisine verilen herhangi bir hakkı kullanmaması ya da icra etmemesi, söz konusu haktan feragat ettiği anlamına gelmeyecek veya söz konusu hakkın daha sonra kullanılmasını ya da icra
        edilmesini engellemeyecektir.</p>

    <p>10 (on) maddeden ibaret bu Üyelik Sözleşmesi, Üye tarafından her bir hükmü okunarak ve bütünüyle anlaşılarak elektronik ortamda onaylanmak suretiyle yürürlüğe girmiştir.</p>
</div>