<div>
    <p class="strong">MADDE 1 - TARAFLAR</p>
    <ul>
        <li class="strong">SATICININ;</li>
        <li><span class="half-strong">Unvanı: </span> Spry Software
        </li>
        <li><span class="half-strong">Adresi: </span> Mehmet Akif Mah. 2504. Sok. No:22/1 Bucak/Burdur</li>
        <li><span class="half-strong">Telefonu: </span> +90 541 783 7344</li>
        <li><span class="half-strong">E-Posta Adresi: </span> info@meowmeow.com.tr
        </li>
        <li><span class="half-strong">Banka Hesabı: </span> TR53 0001 0003 2181 2923 2650 01
        </li>
        <li><span class="half-strong">Mersis Numarası: </span> </li>
    </ul>
    <ul>
        <li class="strong">ALICININ/TÜKETİCİNİN;</li>
        <li><span class="half-strong">Adı:</span> {{name}}</li>
        <li><span class="half-strong">Soyadı: </span> {{surname}}</li>
        <li><span class="half-strong">Adres ve Telefonu:</span> {{address}} {{phone}}</li>
        <li><span class="half-strong">E-Posta Adresi: </span> {{email}}
        </li>
    </ul>
    <p class="strong">MADDE 2 - SÖZLEŞME KONUSU ÜRÜN, FİYAT, ÖDEME VE TESLİMAT</p>
    <p>Ürünlerin (malların/hizmetlerin) Cinsi ve Türü, Miktarı, Marka/Modeli/ Rengi, KDV dahil Birim Fiyat(lar)ı ve
        Satış Bedeli ile Ödeme (tahsilat) Bilgileri ve ALICI'nın bildirdiği teslim yeri dahil Teslimat Bilgileri aşağıda
        belirtildiği gibidir.</p>
    <p>Teslimatı yapacak kargo firmasının ALICI'nın bulunduğu yerde şubesi olmadığı takdirde ALICI'nın SATICI tarafından
        bildirilecek bir diğer yakın şubesinden teslim alması gerekmektedir(Bu hususta ALICI'ya gerekli bilgilendirme,
        e-posta/mail, SMS veya
        telefonla yapılacaktır). Teslimat ile ilgili diğer konular Sözleşme'nin aşağıdaki 6. maddesinde belirtilmiştir.
    </p>
    <ul>
        <li class="strong">ÜRÜN BİLGİLERİ</li>
        <li><span class="half-strong">Ürün Adı: </span> {{pricing.name}}</li>
        <li><span class="half-strong">Birim Fiyatı: </span> {{pricing.price}}</li>
        <li><span class="half-strong">Abonelik Süresi: </span> Aylık</li>
        <li><span class="half-strong">Adedi: </span> 1</li>
        <li><span class="half-strong">Ödeme Tutarı: </span> {{order.price}}</li>
    </ul>
    <ul>
        <li class="strong">TESLİMAT BİLGİLERİ</li>
        <li><span class="half-strong">Adı: </span> </li>
        <li><span class="half-strong">Soyadı: </span> </li>
        <li><span class="half-strong">Adres ve Telefon: </span> </li>
        <li><span class="half-strong">E-Posta Adresi: </span> {{email}}
        </li>
    </ul>
    <ul>
        <li class="strong">FATURA BİLGİLERİ</li>
        <li><span class="half-strong">Adı: </span> </li>
        <li><span class="half-strong">Soyadı: </span> </li>
        <li><span class="half-strong">Adres ve Telefon: </span> </li>
        <li><span class="half-strong">E-Posta Adresi: </span> {{email}}
        </li>
    </ul>
    <p class="strong">MADDE 3 - ÖN BİLGİLENDİRME SİPARİŞ-SÖZLEŞME KONUSU ÜRÜN, FİYATI, ÖDEME VE TESLİMAT KOŞULLARI</p>
    <p>Teslimatı yapacak kargo firmasının Tüketici'nin bulunduğu yerde şubesi bulunmadığı takdirde Tüketici'nin SATICI
        tarafından bildirilecek bir diğer yakın şubesinden teslim alması gerekmektedir (Bu hususta Tüketici'ye gerekli
        bilgilendirme, e-posta/mail,
        SMS veya telefonla yapılacaktır). Teslimat ile ilgili diğer kurallar aşağıda belirtilmiştir.</p>
    <p>Sipariş konusu Ürün, 10 (on) iş günü süresi aşılmamak koşulu ile Tüketici'ye/bildirdiği adresteki üçüncü
        kişi/kuruluşa aşağıda belirtilen esaslarda teslim edilir. SATICI, Ürünler'i, gönderileri için anlaşmalı kargo
        firması aracılığı ile göndermekte
        ve teslim ettirmektedir. Bu kargo firmasının Tüketici'nin bulunduğu yerde şubesi olmaması halinde, Tüketici'nın
        Ürünü, kargo firmasının, SATICI tarafından bildirilen yakın bir diğer şubesinden teslim alması
        gerekmektedir.Kargo Firmaları, SATICI
        Ürünün sipariş tarihinden itibaren en geç 10 (on) iş günü içerişinde ALICIYA teslimini sağlamakla yükümlüdür.
        ALICI’nın abonelik modeline bağlı olarak müteakip aylara ilişkin Ürün teslimatı ilk ayda teslimatın yapıldığı
        güne denk gelen günden
        itibaren en geç 5 (beş) iş günü içerisinde yapılır. Genel olarak ve aksi açıkça belirtilmediği sürece teslimat
        masrafları (kargo ücreti vb.) Tüketici'ye aittir. SATICI, satış anında yürüttüğü ve İNTERNET SİTESİ'nde
        şartlarını ilan ettiği kampanyalara
        bağlı olarak söz konusu teslimat masraflarının tamamını ya da bir kısmını Tüketici'ye yansıtmayabilir.Ürünlerin
        teslimatı anında Tüketici'nin adresinde bizatihi bulunmaması ve adresteki kişilerin teslimatı kabul etmemesi
        durumunda SATICI, bu husustaki
        edimini yerine getirmiş kabul edilecektir. Adreste teslim alacak bir kimsenin olmaması durumunda kargo firması
        ile temas kurarak ürünlerin sevkiyatını takip ve temin etmek Tüketici'nin sorumluluğundadır. Ürün, Tüketici'den
        başka bir kişi/kuruluşa
        teslim edilecek ise, bu kişi/kuruluşun adresinde bulunmaması veya teslimatı kabul etmemesinden SATICI sorumlu
        tutulamaz. Bu hallerde Tüketici'nın Ürün'ü geç teslim almasından kaynaklanan her türlü zarar ile Ürün'ün kargo
        şirketinde beklemiş olması
        ve/veya kargonun SATICI'ya iade edilmesinden dolayı oluşan giderler de Tüketici'ye aittir.Ürün'ü teslim alacak
        her kişi, teslim aldığı anda kontrol etmekle ve Ürün'de kargodan kaynaklanan bir sorun gördüğünde Ürün'ü kabul
        etmemekle ve kargo firması
        yetkilisine tutanak tutturmakla sorumludur. Aksi halde SATICI herhangi bir mesuliyet kabul etmeyecektir.
        Tüketici'nin Ürün'ü teslim almadan önce masraflar dahil satış bedelini tamamen ödemiş olması gerekir. Peşin
        satışlarda teslimattan önce Ürün
        bedeli SATICI'ya tamamen ödenmediği, taksitli satışlarda vadesi gelen taksit tutarı tediye edilmediği takdirde
        SATICI, tek taraflı olarak sözleşmeyi iptal edebilir ve Ürün'ü teslim etmeyebilir.Ürün teslimatı sonrasında
        herhangi bir sebepten dolayı,
        işlem yapılan kredi kartının ait olduğu Banka/finansman kurumunun Ürün bedelini SATICI'ya ödememesi ya da
        ödediği bedeli geri talep etmesi halinde, Ürün en geç 3 gün içinde Tüketici tarafından SATICI'ya iade edilir.
        Ürün bedelinin ödenmemesi Tüketici’nin
        Banka'ya haksız bir talimatından veya itirazından yahut bir kusurundan veya ihmalinden kaynaklanıyor ise kargo
        masrafları Tüketici tarafından karşılanacaktır. SATICI'nın iadeyi kabul etmeksizin Ürün bedeli alacağını takip
        dahil diğer tüm akdi-kanuni
        hakları ayrıca ve her halükarda saklıdır.Tereddüte mahal vermemek bakımından; Tüketici'niın satış bedelini,
        bankalardan (finansman kuruluşları dahil) sahip olduğu kredi kartı, taksit kart v.b. ile ödediği hallerde, bu
        kartların tanıdığı tüm imkanlar
        doğrudan kartı veren kuruluşça sağlanmış kredi ve/veya taksitli ödeme imkanlarıdır; bu çerçevede gerçekleşen ve
        SATICI'nın bedelini defaten veya peyder pey tahsil ettiği Ürün satışları işbu Sözleşme’nin tarafları yönünden
        kredili veya taksitli
        satış değildir, peşin satıştır. SATICI'nın kanunen taksitle satış sayılan hallerdeki yasal hakları (taksitlerin
        ödenmemesi halinde sözleşmeyi fesih ve/veya kalan borcun tümünün temerrüt faizi ile birlikte ödenmesini talep
        hakları dahil) ilgili
        mevzuat çerçevesinde mevcut ve saklıdır. Tüketici'nin temerrüdü durumunda yürürlükteki kanunların öngördüğü
        şekilde aylık oranda temerrüt faizi tatbik edilir. Sipariş konusu Ürün’ün normal satış/teslimat koşulları
        dışındaki olağanüstü durumlar
        (hava muhalefeti, yoğun trafik, deprem, sel, yangın gibi) nedeni ile 10 (on) iş günü süre zarfında teslim
        edilememesi söz konusu ise, SATICI teslimat ile ilgili olarak Tüketici'yi mevcut iletişim bilgilerinden ulaşarak
        haberdar eder. Bu durumda
        Tüketici siparişi iptal edebilir, benzer bir ürün sipariş edebilir veya olağanüstü durum sona erene kadar
        bekleyebilir. SATICI Sözleşme konusu Ürün'ü tedarik edemeyeceğinin anlaşılması halinde, bu durumu öğrendiği
        tarihten itibaren üç (3) gün
        içinde Tüketici'yi açık biçimde ve aynı araçlardan biri ile bilgilendirerek sözlü/yazılı onayını almak kaydıyla,
        eşit kalite-fiyatta başka bir mal/hizmeti tedarik edebilir ve Sözleşme konusu taahhüdünü bu suretle yerine
        getirmiş sayılır. Tüketici
        söz konusu onayı verip vermemekte her bakımdan serbesttir ve onay vermediği hallerde sipariş iptaline (Sözleşme
        feshine) ilişkin akdi-kanuni hükümler uygulanır.</p>
    <p class="strong">MADDE 4 - GÜVENLİK-GİZLİLİK, KİŞİSEL BİLGİLER, ELEKTRONİK İLETİŞİMLER VE FİKRİ-SINAİ HAKLAR İLE
        İLGİLİ KURALLAR</p>
    <p>İNTERNET SİTESİ'nde bilgilerin korunması, gizliliği, işlenmesi-kullanımı ve iletişimler ile diğer hususlarda
        http://meowmeow.com.tr/gizlilik-politikasi/ adresinde yer alan gizlilik kuralları-politikası ve şartlar
        geçerlidir.
    </p>
    <p>İNTERNET SİTESİ'ne ait her türlü bilgi ve içerik ile bunların düzenlenmesi, revizyonu ve kısmen/tamamen kullanımı
        konusunda; SATICI'nın anlaşmasına göre diğer üçüncü şahıslara ait olanlar hariç; tüm fikri-sınai haklar ve
        mülkiyet hakları İNTERNET
        SİTESİ sahibine aittir.</p>
    <p>SATICI yukarıdaki konularda gerekli görebileceği her türlü değişikliği yapma hakkını saklı tutar; bu
        değişiklikler SATICI tarafından İNTERNET SİTESİ'nden veya diğer uygun yöntemler ile duyurulduğu andan itibaren
        geçerli olur. İNTERNET SİTESİ'nden
        ulaşılan diğer sitelerde kendilerine ait gizlilik-güvenlik politikaları ve kullanım şartları geçerlidir,
        oluşabilecek ihtilaflar ile menfi neticelerinden SATICI veya İNTERNET SİTESİ sorumlu değildir.</p>
    <p class="strong">MADDE 5 – CAYMA HAKKI VE MUHTELİF HUSUSLAR</p>
    <p>Sözleşme ve kanuna uygun caymalar dahil sipariş iptallerinde ve Sözleşme fesihlerinde, Ürün bedeli tahsil edilmiş
        ise, azami 14 gün içinde, Ürün bedelini ödediği araca uygun bir şekilde TÜKETİCİ'ye iade edilir. Örneğin kredi
        kartlı ödemelerde iade
        işlemi de TÜKETİCİ kredi kartına iade sureti ile yapılır ve Ürün tutarı, siparişin TÜKETİCİ tarafından iptal
        edilmesinden sonra aynı sürede ilgili bankaya iade edilir; bu tutarın bankaya iadesi işleminin SATICI tarafından
        yapılmasında sonra TÜKETİCİ
        hesaplarına yansıması tamamen banka işlem süreci ile ilgili olduğundan, bu tür inisiyatifi dışındaki nedenlerden
        kaynaklı olası gecikmeler için SATICI herhangi bir şekilde sorumlu değildir (bankaların iadeyi TÜKETİCİ hesabına
        yansıtma işlemleri
        genellikle üç haftayı bulabilmektedir). SATICI'nın TÜKETİCİ'ye iade edilecek bedel için, Sözleşme ve kanundan
        doğan mahsup, indirim ve tenzilat hakları vardır ve saklıdır. Sözleşme'nin SATICI'nın edimini ifa etmemesinden
        ötürü TÜKETİCİ tarafından
        feshedildiği hallere ilişkin TÜKETİCİ kanuni hakları da mevcut ve geçerlidir.&nbsp;hakkın süresinde
        kullanılmaması durumunda ALICI cayma hakkını kaybedecektir.</p>
    <p>TÜKETİCİ Ürün ve satışla ilgili talep ve şikayetlerini, yukarıda belirtilmiş iletişim kanallarından ulaşarak,
        sözlü veya yazılı şekilde SATICI'ya bildirebilir. SATICI olarak TÜKETİCİ müşterilerimizin haklı
        talep-şikayetleri ile her türlü başvurularını
        karşılamaktan memnuniyet duyarız. Bu şekilde bir çözüme bağlanması mümkün olmadığı takdirde TÜKETİCİ dilerse
        Gümrük ve Ticaret Bakanlığı'nca her yıl belirlenen ve ilan edilen parasal sınırlar dahilinde kendisinin veya
        SATICI'nın yerleşim yerindeki
        (ikametgâhının bulunduğu yerdeki) İl ve İlçe TÜKETİCİ Hakem Heyetleri'ne ve sınırları aşan durumlarda TÜKETİCİ
        Mahkemeleri'ne başvurabilir. TÜKETİCİ, onayı halinde Mesafeli Satış Sözleşmesi'nin ayrılmaz bir parçasını
        oluşturacak işbu Ön Bilgilendirmeler
        ile, satışa konu Ürün/Ürün'lerin temel özellik-nitelikleri, satış fiyatı, ödeme şekli, teslimat işlemleri ve
        cayma hakkı ve kişisel bilgiler-elektronik iletişim dahil tüm hususlarda bilgilendirilmiş bulunmaktadır. İşbu
        Sipariş-Sözleşme Ön Bilgilendirmelerindeki
        tüm açıklamalar ve bilgiler TÜKETİCİ'nin İNTERNET SİTESİ'nde onayladığı an itibariyle geçerli olup kabulü
        halinde SATICI ve TÜKETİCİ (ALICI) arasında Mesafeli Satış Sözleşmesi ile birlikte bağlayıcı olarak uygulanır.
    </p>
</div>