<div>
    <p>
        <br>
        <strong>Nasıl abone olabilirim?</strong>
        <br> Abonelik başlatabilmek için öncelikle sitemize üye olmanız gerekmektedir. Üyeliğinizi oluşturduktan sonra profilim ve kedim sayfasındaki bilgileri doldurup abonelik sekmesinden istediğiniz paketi seçtikten sonra sistemin size soracağı ödeme
        bilgilerinizi girerek aboneliğinizi başlatabilirsiniz.
    </p>
    <p>
        <br>
        <strong>Paketlerim hangi kargo şirketi ile gönderilecek?</strong>
        <br> Anlaşmalı olduğumuz kargo şirketleri ile gönderilecektir.
    </p>
    <p>
        <br>
        <strong>Kargo ücreti ne kadar?</strong>
        <br> Kargo ücretimiz yoktur.
    </p>
    <p>
        <br>
        <strong>Abonelik ve sipariş durumumu nasıl takip edebilirim?</strong>
        <br> Üyelik girişi yaptıktan sonra, aboenlik sayfanızdan takip edebilirsiniz.
    </p>
    <p>
        <br>
        <strong>Paketim kargoya verilmiş. Durumunu nasıl kontrol edebilirim?</strong>
        <br> Kargoya verilen paketlerin yanındaki kargo linkine tıklayarak, paketinizin kargodaki durumunu takip edebilirsiniz.
    </p>
    <p>
        <br>
        <strong>Ürünü teslim alırken nelere dikkat etmeliyim?</strong>
        <br> Sevkiyat sırasında zarar gördüğünü düşündüğünüz paketleri, teslim aldığınız kargo yetkilisi önünde açıp kontrol ediniz. Eğer üründe herhangi bir zarar varsa kargo firmasına tutanak tuttururarak ürünü teslim almayınız. Ürün teslim alındıktan
        sonra kargo firmasının görevini tam olarak yerine getirdiğini kabul etmiş olduğunuzu unutmayınız.
    </p>
    <div>
        <p>
            <br>
            <strong>İade Bilgileri</strong>
            <br> Paket içerisindeki her ürün, üretici firmasının garantisi altındadır.
        </p>
        <p>
            Ürünleri ambalajını açmadan/tahrip etmeden/bozmadan, ürünü kullanmadan teslim tarihinden itibaren ondört (14) günlük süre içinde teslim aldığınız şekli ile iade edebilirsiniz. Ürünü, ürün faturası, sipariş numarınızı da içeren bir dilekçe veya iade formu
            ile iade ediniz.
        </p>
        <p>
            Sevkiyat sırasında zarar gördüğünü düşündüğünüz paketleri teslim aldığınız firma yetkilisi önünde açıp kontrol ediniz. Eğer üründe herhangi bir zarar varsa kargo firmasına tutanak tuttururarak ürünü teslim almayınız. Ürün teslim alındıktan sonra kargo
            firmasının görevini tam olarak yerine getirdiğini kabul etmiş olduğunuzu unutmayınız.
        </p>
        <p>
            Ambalajı açılmış, kullanılmış, tahrip edilmiş vesair şekildeki ürünlerin iadesi kabul edilmez.
        </p>
        <p>
            Müşteri ürünü, kendisine teslim edildiği andaki durumu ile geri vermekle ve kullanım söz konusu ise kullanma dolayısıyla malın ticari değerindeki kaybı tazminle yükümlüdür.
        </p>
        <p>
            Müşterinin ürünü iade etmesi veya alışverişinden cayması halinde, iade edilen ürün Bize ulaştığı andan itibaren on (10) gün içerisinde ürün bedeli iade edilir. Kredi kartına ürün iade bedeli bankanız tarafından 2-6 hafta arasında yapılmaktadır. Bu sürede
            firmamızın tasarrufu bulunmamaktadır.
        </p>
        <p>
            Üründe ve ambalajında herhangi bir açılma, bozulma, kırılma, tahrip, yırtılma, kullanılma vesair durumları tespit ettiği hallerde ve ürünün müşteriye teslim edildiği andaki hali ile iade edilememesi halinde ürünü iade almayacak ve bedelini iade etmeyecektir.
        </p>
        <p>
            Yukarıdaki şartlara uygun hallerde iade edilen ürünlerde kargo ücreti müşteri tarafından ödenecektir.
        </p>
        <p>
            Kredi Kartı iadeleri 3 iş günü içinde yapılacaktır. Bankanız kredi kartı iadelerini aynı gün hesabınıza yansıtmayabilir. Bu durumda bankanızın kredi kartı servisini aramanız gereklidir. Siparişinizle ilgili “İptal Edildi” uyarısı çıktıktan sonra tüm bedel
            kredi kartınıza iade edilmektedir.
        </p>
    </div>
</div>