{% load static %}
<div id="sidebar">
    <div class="sticky-top" id="">
        <div class="sidebar-heading">
            <a href="/" class="navbar-brand">
                <img class="sidebar-image" src="{% static 'images/logo.png' %}" alt=""></a>
        </div>
        <div class="sidebar-background">

            <div id="list-example" class="list-group sidebar-list-group">
                <hr class="little">
                <a href="#list-item-1" class="list-group-item list-group-item-action active ">Başlarken</a>
                <hr class="little">
                <a href="#list-item-2" class="list-group-item list-group-item-action ">Nasıl Çalışır?</a>
                <hr class="little">
                <a href="#list-item-3" class="list-group-item list-group-item-action ">Hakkımızda</a>
                <hr class="little">
                <a href="#list-item-4" class="list-group-item list-group-item-action ">Fiyatlarımız</a>
                <hr class="little">
                <a href="#list-item-5" class="list-group-item list-group-item-action ">S.S.S.</a>
                <hr class="little">
                <a href="#list-item-6" class="list-group-item list-group-item-action ">İletişim</a>
                <hr class="little">
            </div>
        </div>
    </div>
</div>